<% layout ("/layouts/boilerplate") %> 
<style>
  #filters{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 0rem;
  }
  .filter{
    text-align: center;
    margin-right: 2rem;
    margin-top: 2rem;
    opacity: 0.7;
  }
  .filter:hover{
    opacity: 1;
    cursor: pointer;
  }
  .filter p{
    font-size: 0.8 rem;;
  }
  .taxInfo{
    display: none;
  }
  .tax-toggle {
    border: 1px solid black;
    border-radius: 1rem;
    height: 2.5rem;
    padding: 1rem;
    margin-left: 51rem;
    display: flex;
    align-items: center;
    width: 19rem;
  }
  .carousel {
    cursor: none; /* Hide the cursor */
  }
  .category{
    display: inline-flex;
    margin-left: 46rem;
   
  }
  .categoryButton{
    margin-top: 2rem;
    background: white;
    border-radius: 0.5rem;
    border: 1px solid black;
    margin-right: 1rem;
    padding: 5px;
    height: 2.2rem;
    width: 10rem;
  }
  .categoryButton:active{
    background-color: black;
    color: white;
  }
  .ibuttons{
    background-color: white;
    border: none;
  }
</style>
  <body>
    <!-- <h3>All Listings</h3> -->
    <!-- <form method="get" action="/listings/new">
      <button>Create a new Listing</button>
    </form> -->
    <div class="alert alert-primary" role="alert">
      <div style="font-size: 1.2rem; margin-left: 30rem;"><b>Properties Sold through Our Platform: <%=count1%> </b></div>
      <div style="font-size: 1.2rem; margin-left: 30rem;"><b>Properties Leased through Our Platform: <%=count2%> </b></div>
      <div style="margin-left:60rem"><b>You are logged in as:</b> <%= user.username %></div>
    </div>
    <div id="filters">
      <div class="filter">
        <form action="/listings/house" method="POST">
          <div><i class="fa-solid fa-house"></i></div>
          <button class="ibuttons" type="submit"><p>House</p></button>
        </form>
      </div>

      
      <div class="filter">
        <form action="/listings/flat" method="POST">
          <div><i class="fa-regular fa-building"></i></div>
          <button class="ibuttons" type="submit"><p>Flat</p></button>
        </form>
      </div>
      <div class="filter">
        <div style="margin-top: -1rem;"><i class="fa-solid fa-house-chimney-window"></i></div>
        <form action="/listings/villa" method="POST">
        <button class="ibuttons" type="submit">Villa</button>
      </form>
    </div>
      <div class="filter">
        <form action="/listings/shop" method="POST">
          <div><i class="fa-solid fa-shop"></i></div>
          <button class="ibuttons" type="submit"><p>Shops</p></button>
        </form>
      </div>
      
    <!--  <div class="filter">
        <div><i class="fa-solid fa-person-swimming"></i></div>
        <p>Amazing Pools</p>
      </div>
      <div class="filter">
        <div><i class="fa-solid fa-campground"></i></div>
        <p>Camping</p>
      </div>
      <div class="filter">
        <div><i class="fa-solid fa-tractor"></i></div>
        <p>Farms</p>
      </div>
      <div class="filter">
        <div><i class="fa-solid fa-snowflake"></i></div>
        <p>Arctic</p>
      </div>
      <div class="filter">
        <div><i class="fa-solid fa-water"></i></div>
        <p>River By</p>
      </div> -->
   
</div>
    <div class="category">
      <form action="/listings/filter/Sell" method="GET">
        <button class="categoryButton" type="submit">Properties on Sale</button>
    </form>
    <form action="/listings/filter/Rental" method="GET">
      <button class="categoryButton" type="submit">Rental Properties</button>
  </form>
     </div>
       <!-- <div class="rowA" style="margin-left: 18rem;" >
        <div style="width: 11rem; margin-left: 38rem; ">
          <lable for="category" style="margin-left: 0.5rem;" class="form-label">Sort By</lable><br>
          <form id="sortForm" class="d-flex" method="GET" action="/listings/sort/:sortBy">

            <select style="border: 1.5px solid black;margin-right: -1rem;border-radius: 2rem;width: 22rem;padding-left: 1.5rem;" name="sortBy" id="sortBy" class="form-control">
                <option value="inc-price">Inc Price</option>
                <option value="dec-price">Dec Price</option>
            </select>
            <button style="    border-radius: 3rem;background: white;width: 16rem;margin-left: 1rem;" type="submit">Sort</button>
        </form>
      </div>
       -->
  
        <div style="margin-top: -2.25rem; margin-left: 68rem;" class="tax-toggle">
          <div class="form-check-reverse form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
            <label  class="form-check-label" for="flexSwitchCheckDefault">Display total after taxes</label>
          </div>
        </div>
      </div>
       </div>
       <div class="row row-cols-lg-4 row-cols-md-4 row-cols-sm-1 ml-4" style="margin-left: 1rem; margin-bottom:6rem ;margin-top: 4rem;">

      <%for(let listing of allListings){ %>
        <a href="/listings/<%=listing._id%>" class="listing-link" >
        <div class="card col listing-card" >
          <div class="row" >
            <div class="col">
              <div id="imageCarousel" class="carousel slide" data-bs-ride="carousel" style="cursor: none;">

                <div class="carousel-inner" >
                  <% let isFirst = true; %>
                  <% for (let image of listing.image) { %>
                    <div class="carousel-item <%= isFirst ? 'active' : '' %>">
                      <img  style="height: 20rem; width: 9rem; border-radius: 2rem;" src="/uploads/<%= image %>" class="d-block w-100" alt="listing_image" aria-disabled="true">
                      <% if(listing.AcceptStatus === 1){%>
                        <div class="alert alert-success" role="alert">
                          Sold Out
                        </div>
                  <%    } %>
                 
                    </div>
                    <% isFirst = false; %>
                  <% } %>
                </div>
                <!-- <button class="carousel-control-prev" type="button" data-bs-target="#imageCarousel" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#imageCarousel" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button> -->
              </div>
            </div>
          </div>
          <div class="card-img-overlay">
            
          </div>
          <div class="card-body">
            <p class="card-text">
              <b> <%=listing.title%><br> </b>
              <% if( listing.category === "Rental" ) {%>
                &#x20B9; <%=listing.price.toLocaleString("en-IN")%>/month
                <%} else {%>
                  &#x20B9; <%=listing.price.toLocaleString("en-IN")%>
                  <%}%>
              <i class="taxInfo">  +18% GST </i>
            </p>
          </div>
        </div>
        <% }%></a>

    </div>
    
    
  </body>

<script>
  let taxSwitch = document.getElementById("flexSwitchCheckDefault");
  taxSwitch.addEventListener("click",()=>{
    let TaxInfo= document.getElementsByClassName("taxInfo") ;
    for(info of TaxInfo){
      if(info.style.display != "inline"){
        info.style.display = "inline";
      }
      else{
        info.style.display = "none";
      }
    }
  })
  const sortForm = document.getElementById('sortForm');
const sortBySelect = document.getElementById('sortBy');

sortForm.addEventListener('submit', (event) => {
    event.preventDefault(); // Prevent default form submission
    
    // Get the selected sorting criteria from the dropdown menu
    const sortByValue = sortBySelect.value;
    
    // Construct the URL with the selected sorting criteria
    const actionUrl = `/listings/sort/${sortByValue}`;
    
    // Set the form action to the constructed URL
    sortForm.action = actionUrl;
    
    // Submit the form
    sortForm.submit();
});



</script>
