<% layout ("/layouts/boilerplate") %> 
<style>
  #filters{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .filter{
    text-align: center;
    margin-right: 2rem;
    margin-top: 2rem;
    opacity: 0.7;
  }
  .filter:hover{
    opacity: 1;
    cursor: pointer;
  }
  .filter p{
    font-size: 0.8 rem;;
  }
  .taxInfo{
    display: none;
  }
  .tax-toggle {
    border: 1px solid black;
    border-radius: 1rem;
    height: 2.5rem;
    padding: 1rem;
    margin-left: 51rem;
    display: flex;
    align-items: center;
    width: 19rem;
  }
  .carousel {
    cursor: none; /* Hide the cursor */
  }
</style>
  <body>
    <!-- <h3>All Listings</h3> -->
    <!-- <form method="get" action="/listings/new">
      <button>Create a new Listing</button>
    </form> -->
    <!-- <div id="filters">
      <div class="filter">
        <div><i class="fa-solid fa-fire"></i></div>
        <p>Trending</p>
      </div>
      <div class="filter">
        <div><i class="fa-solid fa-bed"></i></div>
        <p>Rooms</p>
      </div>
      <div class="filter">
        <div><i class="fa-solid fa-mountain-city"></i></i></div>
        <p>Iconic cities</p>
      </div>
      <div class="filter">
        <div><i class="fa-solid fa-mountain"></i></div>
        <p>Mountains</p>
      </div>
      <div class="filter">
        <div><i class="fa-brands fa-fort-awesome"></i></div>
        <p>Castles</p>
      </div>
      <div class="filter">
        <div><i class="fa-solid fa-person-swimming"></i></div>
        <p>Amazing Pools</p>
      </div>
      <div class="filter">
        <div><i class="fa-solid fa-campground"></i></div>
        <p>Camping</p>
      </div>
      <div class="filter">
        <div><i class="fa-solid fa-tractor"></i></div>
        <p>Farms</p>
      </div>
      <div class="filter">
        <div><i class="fa-solid fa-snowflake"></i></div>
        <p>Arctic</p>
      </div>
      <div class="filter">
        <div><i class="fa-solid fa-water"></i></div>
        <p>River By</p>
      </div>
       -->
       <div class="rowA" style="margin-top: 2rem;">
        <div style="width: 11rem; margin-left: 38rem; ">
          <lable for="category"class="form-label">Sort By</lable><br>
          <!-- <input type="hidden" name="" id="selectedCategory"> -->
          <select style="border: 1px solid black; border-radius: 1rem;"  name="listing[category]" class="form-control">
          <option title="Mountain Majesty">Inc Price</option>
          <option title="Farms">Dec Price</option>
          <!-- <option title="Riverside Retreat">3 BHK</option> -->
  
        <div class="invalid-feedback">Please fill the required filled</div>
        </select>
        
      </div>
      
  
        <div style="margin-top: -2.5rem;" class="tax-toggle">
          <div class="form-check-reverse form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
            <label  class="form-check-label" for="flexSwitchCheckDefault">Display total after taxes</label>
          </div>
        </div>
      </div>
       </div>
    <div class="row row-cols-lg-3 row-cols-md-3 row-cols-sm-1 ml-4" style="margin-left: 4rem; margin-bottom:6rem ;">
      <%for(let listing of allListings){ %>
        <a href="/listings/<%=listing._id%>" class="listing-link">
        <div class="card col listing-card" >
          <div class="row" >
            <div class="col">
              <div id="imageCarousel" class="carousel slide" data-bs-ride="carousel" style="cursor: none;">

                <div class="carousel-inner">
                  <% let isFirst = true; %>
                  <% for (let image of listing.image) { %>
                    <div class="carousel-item <%= isFirst ? 'active' : '' %>">
                      <img  style="height: 20rem; width: 9rem; border-radius: 2rem;" src="/uploads/<%= image %>" class="d-block w-100" alt="listing_image">
                    </div>
                    <% isFirst = false; %>
                  <% } %>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#imageCarousel" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#imageCarousel" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            </div>
          </div>
          <div class="card-img-overlay">
            
          </div>
          <div class="card-body">
            <p class="card-text">
              <b> <%=listing.title%><br> </b>
              &#x20B9; <%=listing.price.toLocaleString("en-IN")%>/night
              <i class="taxInfo">  +18% GST </i>
            </p>
          </div>
        </div>
        <% }%></a>

    </div>
    
    
  </body>

<script>
  let taxSwitch = document.getElementById("flexSwitchCheckDefault");
  taxSwitch.addEventListener("click",()=>{
    let TaxInfo= document.getElementsByClassName("taxInfo") ;
    for(info of TaxInfo){
      if(info.style.display != "inline"){
        info.style.display = "inline";
      }
      else{
        info.style.display = "none";
      }
    }
  })
</script>